<div class="input-holder select-holder">
  <select name="@@id"   
    data-validate="@@validate" 
    class="select" 
    data-visible-options="4"
    data-smart-positioning="false" 
    data-placeholder="@@placeholder" 
    id="@@id">
    <option class="option-empty"></option>
    <option>Отделение № 1</option>
    <option>Отделение № 2</option>
    <option>Отделение № 3</option>
    <option>Отделение № 4</option>
    <option>Отделение № 5</option>
    <option>Отделение № 6</option>
    <option>Отделение № 7</option>
    <option>Отделение № 8</option>
    <option>Отделение № 9</option>
    <option>Отделение № 10</option>
  </select>
  <label class="select-label input-label" for="@@id">@@label</label>
  <span class="error-text">@@error</span>
</div>