<div class="content-container">
  @@include('title.html', {
    title: 'О компании'
  })
  <div class="content-container__holder">
    <div class="content-container__img">
      <img src="/img/content-about.jpg" alt="">
    </div>
    <div class="content-title__description">Мы команда единомышленников, которых объединяет любовь к свежеобжаренному кофе, профессиональный подход к делу, постоянное развитие и обучение</div>
    <p>Нашей целью является создание новой кофейной культуры. Мы самостоятельно контролируем весь производственный цикл. Он начинается с закупки сертифицированного зерна и заканчивается обжаркой зерен по передовой технологии. Каждое зернышко проверяется на качество. Ведь нам важно, чтобы наш клиент всегда употреблял только качественный продукт.</p>
    <p>В нашей компании работают самые лучшие специалисты в стране, которые с легкостью разбираются в кофе и могут посоветовать какой вид стоит выбрать.</p>
    <div class="img-col-block">
      <div class="text">
        <div class="title-h3">История развития компании «DATIS»</div>
        <ul class="history-list">
          <li><strong>2013 год</strong> — была основана компания «DATIS» </li>
          <li><strong>2016 год</strong> — зарегестрирована торговая марка DATIS™ </li>
          <li><strong>2020 год</strong> — к этому времени открыты три кофейни и три фирменные торговые точки</li>
          <li>Но на этом мы не останавливаемся, активно занимаемся развитием и разрабатываем интересные идеи, которые обязательно воплощаются в жизнь.</li>
          <li>Мы предлагаем клиентам самые востребованные сорта кофе и лучшие степени обжарки зерен: слабая, средняя, тёмная.</li>
          <li>Для достижения высоких результатов в работе мы напрямую общаемся с клиентами и всегда учитываем их пожелания.  Мы делаем все возможное, чтобы потребители оставались довольны!</li>
        </ul>
      </div>
      <div class="img">
        <img src="/img/img-content-01.jpg" alt="img">
      </div>
    </div>
    <div class="about-benefits">
      <ul class="about-benefits-list">
        <li>
          <i class="icon-b-special-offers"></i>
          <span class="benefits-title">Специальные предложения для оптовых покупателей</span>
        </li>
        <li>
          <i class="icon-b-individual-approach"></i>
          <span class="benefits-title">Индивидуальный подход</span>
        </li>
        <li>
          <i class="icon-b-delivery"></i>
          <span class="benefits-title">Доставка продукции по всей Украине</span>
        </li>
        <li>
          <i class="icon-b-discounts"></i>
          <span class="benefits-title">Уникальная система скидок, акции и конкурсы</span>
        </li>
      </ul>
    </div>
    <div class="img-col-block">
      <div class="img">
        <img src="/img/img-content-02.jpg" alt="img">
      </div>
      <div class="text">
        <div class="title-h3">Особенности кофе от компании «DATIS»</div>
        <ul class="history-list points-list">
          <li>
            <strong class="points-list__title">Закупка сертифицированного зерна</strong>
            <div>мы сотрудничаем с проверенными фермерами. Тщательно подбираем плантации и покупаем зерна, которые нам подходят по качеству.</div>
          </li>
          <li>
            <strong class="points-list__title">Многообразие решений </strong>
            <div>У нас можно купить кофе разных сортов, к нам приходят мешки из разных стран: Бразилия, Коста-Рика, Колумбия, Куба, Эфиопия, Панама, Индия, Кения, Индонезия, Гватемала, Вьетнам. </div>
          </li>
          <li>
            <strong class="points-list__title">Обжарка на профессиональном ростере</strong>
            <div>Обжариваем пять дней в неделю — нам известны тонкости такого ответственного процесса. У нас только свежеобжаренный кофе.</div>
          </li>
          <li>
            <strong class="points-list__title">Соблюдение технологического процесса </strong>
            <div>залог получения качественной продукции.</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>