<div class="point-item @@class" data-city="@@dataCity" data-point="@@dataPoint">
  <div class="point-top js-goto-map" data-gmaps-s="@@mapS" data-gmaps-n="@@mapN">
    <div class="point-icon"></div>
    <div class="point-title">@@title</div>
  </div>  
  <div class="point-info">  
    @@link 
    <div class="point-info-item">
      <i class="icon-pin"></i>
      <span>@@address</span>
    </div>
    <div class="point-info-item">
      <i class="icon-clock"></i>
      <span>@@time</span>
    </div>
    <div class="point-info-item">
      <i class="icon-phone"></i>
      <span>@@phone</span>
    </div>
    <div class="point-row">
      <i class="icon-sweet"></i>
      <i class="icon-plate"></i>
      @@iconCup
      <div class="point-links">
        <a href="#" 
        data-openmodal="modals/map.html"
        class="js-toggle-map link link-toggle-map" data-gmaps-s="@@mapS" data-gmaps-n="@@mapN">Показать на карте</a>
        <a href="" class="link">Проложить маршрут</a>
      </div>                            
    </div>
  </div>
</div>