<div class="accordion-list">
  <div class="accordion-item">
      <div class="accordion-title">
          <i class="icon-arrow"></i>
          <span class="accordion-title-name">Title</span>
      </div>
      <div class="accordion-body">Some expanded information block</div>
  </div>
  <div class="accordion-item">
      <div class="accordion-title">
          <i class="icon-arrow"></i>
          <span class="accordion-title-name">Title</span>
      </div>
      <div class="accordion-body">Some expanded information block</div>
  </div>
</div>