<div class="promo-block">
  <div class="promo-link">
    <span class="link js-add-promo">У меня есть промокод</span>
  </div>
  <div class="promo-form-holder">
    <form action="" class="promo-form form_validate">
      <div class="promo-form__inner">
        <div class="input-holder">
          <input type="text" class="input" data-validate="required" />
          <label for="user-name" class="input-label">Промокод</label>
          <span class="error-text">
            Проверьте правильность введенного промокода
          </span>
        </div>
        <div class="promo-btn">
          <button class="btn btn-primary">Применить</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- promocode-success -->
<!-- <div class="promo-block">
  <div class="promo-applied">
    <div class="row-info">
      <div class="info">
        <p>Скидка по промокоду</p>
        <a href="">Отменить</a>
      </div>
      <div class="val">225 грн</div>
    </div>
  </div>
</div> -->

