<div class="pagination">
  <div class="pagination-btn">
    <a href="#">Показать ещё</a>
  </div>
  <ul class="pagination-list">
    <li class="pagination-item disabled">
      <a href="" class="pagination-prev"><i class="icon-arrow-pagination"></i></a>
    </li>
    <li class="pagination-item">
      <a href="#" class="active">1</a>
    </li>
    <!-- <li class="pagination-item">
      <a href="">1</a>
    </li> -->
    <!-- <li class="pagination-item">
      <a href="#" class="active">2</a>
    </li> -->
    <li class="pagination-item">
      <a href="">2</a>
    </li>
    <li class="pagination-item">
      <span>...</span>
    </li>
    <li class="pagination-item">
      <a href="">47</a>
    </li>
    <li class="pagination-item">
      <a href="" class="pagination-next"><i class="icon-arrow-pagination"></i></a>
    </li>
  </ul>
</div>