<div class="product-item">
  <div class="product-img">
    <a href="" class="product-delete">
      <i class="icon-close-sm"></i>
    </a>
    <a href="">
      <img src="@@imgSrc" alt="product">
    </a>
  </div>
  <div class="product-info">
    <div class="product-unavailable unavailable">
      <i class="icon-unavailable"></i>
      <span>нет в наличии</span>
    </div>
    <div class="product-name">
      <a href="">@@productTitle</a>
    </div>
    <div class="product-price">
      <div class="price">
        <!-- <div class="price-old">
          <span>12 292</span>
        </div> -->
        <div class="price-current">@@productPrice</div>
      </div>
    </div>
    <div class="product-btn">
      <a href="" class="btn btn-primary btn-block">В корзину</a>
    </div>
  </div>
</div>