<div class="product-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        @@include('product.html', {
          imgSrc: '/img/products/product-01.jpg',
          productTitle: 'POPSODA чемодан 45 см blac',
          productPrice: '19 449 грн'
        })
      </div>
      <div class="swiper-slide">
        @@include('product2.html', {
          imgSrc: '/img/products/product-02.jpg',
          productTitle: 'NEOPULSE X DIESEL чемодан 55см. black/yellow',
          productPrice: '10 099 грн',
          productOldPrice: '12 292'                      
        })
      </div>
      <div class="swiper-slide">
        @@include('product.html', {
          imgSrc: '/img/products/product-01.jpg',
          productTitle: 'POPSODA чемодан 45 см blac',
          productPrice: '19 449 грн'
        })
      </div>
      <div class="swiper-slide">
        @@include('product2.html', {
          imgSrc: '/img/products/product-02.jpg',
          productTitle: 'NEOPULSE X DIESEL чемодан 55см. black/yellow',
          productPrice: '10 099 грн',
          productOldPrice: '12 292'
        })
      </div>
      <div class="swiper-slide">
        @@include('product.html', {
          imgSrc: '/img/products/product-01.jpg',
          productTitle: 'POPSODA чемодан 45 см blac',
          productPrice: '19 449 грн'
        })
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button-prev product-prev"></div>
  <div class="swiper-button-next product-next"></div>
</div>