
<div class="product-view">
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/products/product-03.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-02.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-01.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-02.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-01.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-02.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-01.jpg" alt="product">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev product-prev"></div>
    <div class="swiper-button-next product-next"></div>
  </div> 
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/products/product-01.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-02.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-01.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-02.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-01.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/img-product-02.jpg" alt="product">
      </div>
      <div class="swiper-slide">
        <img src="/img/products/product-01.jpg" alt="product">
      </div>
    </div>
  </div>  
</div>
