<div class="product-view product-zoom product-zoom-elevate">

  <div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails">
    <a href="/img/products/product-03.jpg">
      <img src="/img/products/product-01.jpg" alt="" width="360" height="360" />
    </a>
  </div>

  <ul class="thumbnails selectors">
    <li>
      <a href="/img/products/product-03.jpg" data-standard="/img/products/product-01.jpg">
        <img src="/img/products/product-01.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="/img/products/product-03.jpg" data-standard="/img/products/product-03.jpg">
        <img src="/img/products/product-03.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="/img/products/product-03.jpg" data-standard="/img/products/product-04.jpg">
        <img src="/img/products/product-04.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="/img/products/product-05.jpg" data-standard="/img/products/product-05.jpg">
        <img src="/img/products/product-05.jpg" alt="" />
      </a>
    </li>
  </ul>
</div>