<div class="tab-holder tab-default">
  <div class="tab-controls-scroll">
    <div class="tab-controls">
      <a href="" data-tab="data-specifications" class="active">Характеристики</a>
      <a href="" data-tab="data-reviews" class="">Отзывы</a>
      <a href="" data-tab="data-overview" class="">Обзор</a>
    </div>
  </div>
  <div class="">
    <div class="tab-content active" data-content="data-specifications">1</div>
    <div class="tab-content" data-content="data-reviews">2</div>
    <div class="tab-content" data-content="data-overview">3</div>
  </div>
</div>