<div class="responsive-tabs">
  <ul class="resp-tabs-list tabs_h">
    <li>характеристики</li>
    <li>описание</li>
    <li>доставка и оплата</li>
  </ul>
  <div class="resp-tabs-container tabs_h">
    <div>
      <div class="characteristics-section">
        <div class="characteristics-box">
          <ul class="characteristics-list">
            <li>
                <div class="characteristics-title">Производитель</div>
                <div class="characteristics-value"><a href="">Puppy Killer</a></div>
            </li>
            <li>
                <div class="characteristics-title">Модель</div>
                <div class="characteristics-value"><a href="">Футболка</a></div>
            </li>
            <li>
                <div class="characteristics-title">Материал</div>
                <div class="characteristics-value"><a href="">Хлопок</a></div>
            </li>
          </ul>
        </div>
        <div class="characteristics-box">
          <ul class="characteristics-list">
            <li>
                <div class="characteristics-title">Размер</div>
                <div class="characteristics-value"><a href="">XS</a></div>
            </li>
            <li>
                <div class="characteristics-title">Цвет</div>
                <div class="characteristics-value"><a href="">Черный</a></div>
            </li>
            <li>
                <div class="characteristics-title">Кол-во в ростовке</div>
                <div class="characteristics-value">12 шт.</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="product-description-section">
          <p>Изначально компания представляла из себя лишь небольшую фабрику, на которой трудилось не слишком много работников. Однако, упорный труд и постоянное стремление следовать инновациям сделали свое дело. Карл часто повторял свой основной принцип — «обувь для ног, а не ноги для обуви». И покупатели оцени обувь, что создавалась с таким подходом к делу.</p>
      </div>
    </div>
    <div>
      <div class="delivery-section">
        <div class="delivery-box">
            <div class="delivery-section-title">Доставка</div>
            <p>На склад Новой почты или Укрпочты</p>
            <p>3 точки выдачи</p>
        </div>
        <div class="delivery-box">
            <div class="delivery-section-title">Оплата</div>
            <p>Наличными при получении</p>
            <p>Онлайн картой через Liqpay</p>
        </div>
      </div>
    </div>
  </div>
</div>