<nav class="personal-nav">
  <div class="personal-nav-mobile js-toggle-pmenu">
    <span class="personal-mobile-title">Мой профиль</span>
    <i class="icon-arrow"></i>
  </div>
  <div class="personal-title">Личный кабинет</div>
  <ul class="personal-list">
    <li>
      <span class="active personal-list-item">
        <span>Мой профиль</span>
      </span>
    </li>
    <li>
      <a href="personal-viewed.html" class="personal-list-item">
        <span>Мои заказы</span>
        <span class="personal-list-num">3</span>
      </a>
    </li>
    <li>
      <a href="personal-viewed.html" class="personal-list-item">
        <span>Избранное</span>
      </a>
    </li>
    <li class="personal-logout"><a href="">Выйти из кабинета</a></li>
  </ul>
</nav>