<div class="personal-order-list">
  <div class="personal-order-item accordion-item">
    <div class="personal-order-head accordion-header">
      <div class="col">        
          <span class="bold">№ 30408</span>
          <span class="personal-order-date">от 12.06.2019 </span>                  
      </div>
      <div class="col">
        <span>4 товара на сумму </span>
        <span class="bold">3 528 грн</span>
      </div>
      <div class="col status-new">
        <i class="icon-status-new"></i>В работе
      </div>
    </div>
    <div class="personal-order-content">
      <div class="personal-order-holder">        
        <div class="personal-order-left">  
          <div class="personal-order-info">
            <div class="personal-order-title">
              Детали заказа
            </div>            
            @@include('../order-list.html')
          </div>
        </div>
        <div class="personal-order-right">
            <div class="personal-order-title">
              Доставка и оплата
            </div>
            <div class="row">
              <span class="info">Город:</span>Харьков
            </div>
            <div class="row">
              <span class="info">Получатель:</span>Константин Мышкин
            </div>
            <div class="row">
              <span class="info">Телефон:</span>+380(66) 585-18-88
            </div>
            <div class="row">
              <span class="info">Оплата:</span>Visa / MasterCard
            </div>
            <div class="row">
              <span class="info">Доставка:</span>Новая Почта, г. Харьков, Отделение №5, 
                пл. Ю. Кононенко, д. 12
            </div>
            <div class="row">
              <span class="info">Номер ТТН:</span>20450173261465
            </div>
            <div class="row">
              <span class="info">Комментарий:</span>домофон не работает
            </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="personal-order-item accordion-item">
    <div class="personal-order-head accordion-header">
      <div class="col">        
          <span class="bold">№ 30408</span>
          <span class="personal-order-date">от 12.06.2019 </span>                  
      </div>
      <div class="col">
        <span>4 товара на сумму </span>
        <span class="bold">3 528 грн</span>
      </div>
      <div class="col status-cancel">
        <i class="icon-status-cancel"></i>Отменен
      </div>
    </div>
    <div class="personal-order-content">
      <div class="personal-order-holder">        
        <div class="personal-order-left">  
          <div class="personal-order-info">
            <div class="personal-order-title">
              Детали заказа
            </div>
            @@include('../order-list.html')
          </div>
        </div>
        <div class="personal-order-right">
            <div class="personal-order-title">
              Доставка и оплата
            </div>
            <div class="row">
              <span class="info">Город:</span>Харьков
            </div>
            <div class="row">
              <span class="info">Получатель:</span>Константин Мышкин
            </div>
            <div class="row">
              <span class="info">Телефон:</span>+380(66) 585-18-88
            </div>
            <div class="row">
              <span class="info">Оплата:</span>Visa / MasterCard
            </div>
            <div class="row">
              <span class="info">Доставка:</span>Новая Почта, г. Харьков, Отделение №5, 
                пл. Ю. Кононенко, д. 12
            </div>
            <div class="row">
              <span class="info">Номер ТТН:</span>20450173261465
            </div>
            <div class="row">
              <span class="info">Комментарий:</span>домофон не работает
            </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="personal-order-item accordion-item">
    <div class="personal-order-head accordion-header">
      <div class="col">        
          <span class="bold">№ 30408</span>
          <span class="personal-order-date">от 12.06.2019 </span>                  
      </div>
      <div class="col">
        <span>4 товара на сумму </span>
        <span class="bold">3 528 грн</span>
      </div>
      <div class="col status-done">
        <i class="icon-status-done"></i>Выполнен
      </div>
    </div>
    <div class="personal-order-content">
      <div class="personal-order-holder">        
        <div class="personal-order-left">  
          <div class="personal-order-info">
            <div class="personal-order-title">
              Детали заказа
            </div>
            @@include('../order-list.html')
          </div>
        </div>
        <div class="personal-order-right">
            <div class="personal-order-title">
              Доставка и оплата
            </div>
            <div class="row">
              <span class="info">Город:</span>Харьков
            </div>
            <div class="row">
              <span class="info">Получатель:</span>Константин Мышкин
            </div>
            <div class="row">
              <span class="info">Телефон:</span>+380(66) 585-18-88
            </div>
            <div class="row">
              <span class="info">Оплата:</span>Visa / MasterCard
            </div>
            <div class="row">
              <span class="info">Доставка:</span>Новая Почта, г. Харьков, Отделение №5, 
                пл. Ю. Кононенко, д. 12
            </div>
            <div class="row">
              <span class="info">Номер ТТН:</span>20450173261465
            </div>
            <div class="row">
              <span class="info">Комментарий:</span>домофон не работает
            </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="personal-order-item accordion-item">
    <div class="personal-order-head accordion-header">
      <div class="col">        
          <span class="bold">№ 30408</span>
          <span class="personal-order-date">от 12.06.2019 </span>                  
      </div>
      <div class="col">
        <span>4 товара на сумму </span>
        <span class="bold">3 528 грн</span>
      </div>
      <div class="col status-wait">
        <i class="icon-status-wait"></i>Ожидает оплаты
      </div>
    </div>
    <div class="personal-order-content">
      <div class="personal-order-holder">        
        <div class="personal-order-left">  
          <div class="personal-order-info">
            <div class="personal-order-title">
              Детали заказа
            </div>
            @@include('../order-list.html')
          </div>
        </div>
        <div class="personal-order-right">
            <div class="personal-order-title">
              Доставка и оплата
            </div>
            <div class="row">
              <span class="info">Город:</span>Харьков
            </div>
            <div class="row">
              <span class="info">Получатель:</span>Константин Мышкин
            </div>
            <div class="row">
              <span class="info">Телефон:</span>+380(66) 585-18-88
            </div>
            <div class="row">
              <span class="info">Оплата:</span>Visa / MasterCard
            </div>
            <div class="row">
              <span class="info">Доставка:</span>Новая Почта, г. Харьков, Отделение №5, 
                пл. Ю. Кононенко, д. 12
            </div>
            <div class="row">
              <span class="info">Номер ТТН:</span>20450173261465
            </div>
            <div class="row">
              <span class="info">Комментарий:</span>домофон не работает
            </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- info block -->
<div>
  <div class="h5">Status list</div>
  <ul>
    <li class="status-new">В работе</li>    
    <li class="status-cancel">Отменен</li>
    <li class="status-done">Выполнен</li>
    <li class="status-wait">Ожидает оплаты</li>
  </ul>
</div>