<div class="personal-content-holder">  
  <div class="personal-left">    
    <div class="row">
        <span class="info">Имя</span>
        <span class="val">Константин </span>
    </div>
    <div class="row">
        <span class="info">Фамилия</span>
        <span class="val">Мышкин</span>
    </div>
    <div class="row">
      <span class="info">E-mail</span>
      <span class="val">alexandr@gmail.com</span>
    </div>
    <div class="row">
      <span class="info">Телефон</span>
      <span class="val">+38 (095) 678 99 77</span>
    </div> 
    <div class="personal-block">
      <div class="row">
        <a href="#" data-openmodal="modals/edit-profile.html">
          Редактировать профиль
        </a>
      </div>
      <div class="row">
        <a href="#" data-openmodal="modals/change-password.html">
          Изменить пароль
        </a>
      </div>
    </div> 
  </div>
  <div class="personal-right">    
    <div class="personal-socials">
      <p>Привяжите свой профиль соцсетей для быстрого входа в кабинет</p>
      <ul class="personal-social-list social-list">

        <li class="social-item social-active">
          <a href="" class="social-link">
            <span class="social-icon social-icon-google">
              <i class="icon-google"></i>
            </span>
            <span>Активный</span>            
          </a>
        </li>

        <li class="social-item">
          <a href="" class="social-link">
            <span class="social-icon social-icon-twitter">
              <i class="icon-twitter"></i>
            </span>            
            <span>Привязать</span>
          </a>
        </li>

        <li class="social-item">
          <a href="" class="social-link">
            <span class="social-icon social-icon-fb">
              <i class="icon-fb"></i>
            </span>            
            <span>Привязать</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>